<% provide(:title, 'Contact') %>
<div class="container">

	<div class="row meandiv">
		<p>Find me in app/views/static_pages/contant.html.erb</p>
		<p>Contact the creator by kuzi81@gmail.com</p>
	</div>
	
</div>

