<% provide(:title, '') %>
<div class="container">

	<div class="row meandiv">
	
		<%= render 'layouts/mainmenu' %>
		
		<%= render 'layouts/frontpage' %>
		
		<%= render 'layouts/loginbox' %>
		
	</div>

</div>
