<% provide(:title, @title) %>
<div class="">

	<% if signed_in? %>

		<div class="row meandiv">
	
		<%= render 'layouts/home/menu' %>
		
		<%= render 'layouts/home/user' %>
			

	</div>
	
  <% else %>

	<div class="row meandiv">
	
		<%= render 'layouts/home/menu' %>
		
		<%= render 'layouts/frontpage' %>
		
		
	</div>
	
  <% end %>

</div>
