	<div class="span8">
		<section>	
			<%= render 'shared/user_info_follow_oneline' %>
		</section>	  
		
		<section class="HomeUserMicropost">
			<%= render 'shared/micropost_form_oneline' %>
		</section>
 
		<section>
			<h4>Micropost Feed</h4>
			<%= render 'shared/feed' %>
		</section>
	</div>