@import "bootstrap";

/* universal */

html {
  /*overflow-y: scroll;*/
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.NavBar{
background-color:#000000;
height:28px;
color:#FFFFFF;
}

.meanmenudiv {
vertical-align:middle;
font-size:17px;
line-height:3em;
padding-left:12px;
background-color:transparent;
border:solid 0px #c3c3c3;
width:98px;
height:60px;}
.meanmenulink {
text-decoration:none;
color:#0000D0;
font-weight:bold;
width:161px;
height:100px;
font-style:italic;
font-family:Courier New;}

.meanmenudivmouseon {color:#000000;
text-decoration: none;}
#blogspace{
margin-top:20px;}

.commontitleclass{
line-height:1em;
font-family:'Times New Roman';
text-align:center;
font-weight:bold;
font-style:italic;
/*text-decoration:underline;*/
color:#B76FFF;
font-size:32px;
/*margin-top:5px*/
margin-top:7px}
.footer, .push {
height: 20px;  /*.push must be the same height as .footer */
position:absolute;
right:10px;
bottom:30px}
.blogspace{
font-family:Comic Sans MS;
font-weight:bold;
margin-top:10px;}
.meandiv {
text-decoration:none;}