<footer class="footer">
   &#169 All rights reserved 2012 by &#1488&#1461&#1497&#1499&#64309&#1514.co.il
   <p>
    <strong>
      <i>
        <font face="Arial" color="#000000">Powered by Dmitry Kuznichov, Chaos predictor</font>
      </i>
    </strong>
  </p>
</footer>