	    <div class="span8 blogspace" id="blogspace">
		    <p>
			This site was opened without any defined target, it's just kind of toy box for me. <br>
			This days I try to adjust it as my blog to next year. For any suggestions or requests please send email to DmitryKuznichov at gmail. <br>
			All the best</p>
	    </div>