<div id="BlackNavBar" class="row-fluid NavBar">
	<div class="container">
		<nav class="nav pull-right NavBarRightText">
			<title class="span10">  No user logged </title>
					
			<title class="span2">  Out </title>
		</nav>
	</div>
</div>