<div class="span2"> 
    <form class="loginbox form-inline well">
	    <input type="text" class="input-small" style="margin-bottom:2px" placeholder="Email">  
	    <input type="password" class="input-small" style="margin-top:2px; margin-bottom:2px" placeholder="Password">  
	    <label class="checkbox" size="5px"  style="margin-top:2px;margin-bottom:2px">  
		    <input type="checkbox"> Remember me  
    	</label>  
	    <button type="submit" class="btn" style="width:85px;margin-top:2px;margin-bottom:2px">Sign in</button>  
	    <button type="submit" class="btn" style="width:85px;margin-top:2px;padding-left:4px;padding-right:4px">New? Join</button> 
	</form>
</div>