<div class="span2"> 
    <form class="loginbox form-inline well">
	    <input type="text" class="input-small" style="margin-bottom:2px" placeholder="Email">  
	    <input type="password" class="input-small" style="margin-top:2px; margin-bottom:2px" placeholder="Password">  
	    <label class="checkbox" size="5px"  style="margin-top:2px;margin-bottom:2px">  
		    <input type="checkbox"> Remember me  
    	</label>  
	    <button type="submit" class="btn SingIn">Sign in</button>  
	    <%= link_to signup_path do %> 
			<button type="submit" class="btn SingUp">New? Join</button> 
		<% end %>
	</form>
</div>