		<div class="span2 meandiv2">

			<a class="meanmenulink" style="text-decoration:none" href="blog.html">
				<div  id="div1" class="meanmenudiv">Blog</div>
			</a>
			
			<a class="meanmenulink" style="text-decoration:none" href="img/Ztp4sohuWf4.jpg">
				<div  id="div2" class="meanmenudiv">My pic</div>
			</a> 

			<a class="meanmenulink" style="text-decoration:none" href="forfun.html">
				<div  id="div3" style="text-decoration:none" class="meanmenudiv">for Fun</div>
			</a>
			
			<a class="meanmenulink" style="text-decoration:none" href="tolearn.html">
				<div  id="div4" class="meanmenudiv">to Learn</div>
			</a>
			
			<a class="meanmenulink" style="text-decoration:none" href="todo.html">
				<div  id="div5" class="meanmenudiv">to Do</div>
			</a>
			
			<a class="meanmenulink" style="text-decoration:none" href="sites.html">
				<div  id="div6" class="meanmenudiv">Sites</div>
			</a>
 
			<a class="meanmenulink">
				<%= link_to help_path do %> 
					<div  id="div7" class="meanmenudiv" style="text-decoration:none">Help</div>
				<% end %>
			</a>
			
			<a class="meanmenulink">
				<%= link_to about_path do %> 
					<div  id="div8" class="meanmenudiv" style="text-decoration:none">About</div>
				<% end %>
			</a>
			
			
		</div>
